## IMPORTING RELEVANT LIBRARIES

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## Loading The Data

In [2]:
data = pd.read_csv(r'D:\Data Science Project\6-Credit card fraud detection using machine learning\creditcard.csv')
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

## Checking For Null Values

In [5]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

## Checking for Values of Fraud and Legitimate Transactions

In [6]:
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

## Balancing The Data

In [7]:
legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [11]:

fraud.shape

(492, 31)

In [10]:
legit.shape

(284315, 31)

## Selecting Legitimate Transactions Equal To The Number Of Fraud Transactions

In [12]:
selected_legit = legit.sample(n = 492)

## Creating a New DataSet Containing Equal Numbers of Fraud and Legitimate Transactions

In [16]:
new_data = pd.concat([selected_legit,fraud],axis = 0)
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
184880,126429.0,-0.636599,-0.161825,1.262736,-0.208703,-0.191234,-0.018388,-0.499851,0.203041,0.733885,...,0.261310,1.253427,0.494456,-0.319432,-1.077481,0.200785,-0.440511,-0.518319,1.44,0
262132,160330.0,-0.927115,1.096214,2.226498,0.684422,0.993432,0.724953,1.316999,-0.656265,0.992687,...,-0.826781,-1.236284,-0.298058,0.542229,0.417883,-0.925511,-0.223360,-0.587925,7.50,0
90494,63043.0,-0.418608,1.539661,0.132976,1.089442,-0.008913,1.424624,-2.082088,-5.188365,-1.320994,...,-2.563025,0.691536,-0.004554,-0.846635,0.754380,-0.222908,0.099188,0.271723,20.00,0
84127,60173.0,-0.731338,1.319592,0.709282,0.613087,0.492064,-0.262634,0.974543,-0.203101,-0.410587,...,0.026360,0.426480,-0.205303,-0.418659,0.019510,-0.271608,0.441336,0.267669,44.22,0
79708,58140.0,1.126267,-0.011699,1.424704,1.159870,-1.063605,-0.291183,-0.653446,0.041284,0.577919,...,0.274109,0.852862,-0.096812,0.430422,0.390492,-0.259660,0.078615,0.048827,27.50,0

## Checking If Fraud and Legit are same in Numbers

In [17]:
new_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [18]:
X = new_data.drop(columns = 'Class',axis = 1)
Y = new_data['Class']

## Training and Testing

In [19]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,stratify = Y,random_state = 2)

## Model The Data

In [20]:
model = LogisticRegression()
model.fit(X_train,Y_train)

LogisticRegression()

## Evaluating The Model

In [21]:
X_train_prediction = model.predict(X_train)

## Accuracy Of Training Data

In [22]:
train_data_accuracy = accuracy_score(X_train_prediction,Y_train)
train_data_accuracy

0.9453621346886912

## Making Prediction

In [25]:
X_test_prediction = model.predict(X_test)
X_test_prediction

array([1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0],
      dtype=int64)

## Accuracy Of Testing Data

In [26]:
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [27]:
test_data_accuracy

0.9289340101522843